<div class="container">
  <% if (flash?.message) { %>
    <div
      id="flash-data"
      data-type="<%= flash.type %>"
      data-message="<%= flash.message %>">
    </div>
  <% } %>


  <!-- Sidebar -->
  <%- include('../partials/_sidebar.ejs') %>
  <!-- End Sidebar -->

  <main class="main">
    <!-- Navbar -->
    <%- include('../partials/_navbar.ejs') %>
    <!-- End Navbar -->

    <!-- Courses -->
    <%- include('../partials/_courses.ejs') %>
    <!-- End Courses -->
  </main>
</div>
