<section class="courses">
  <div class="courses-top">
    <h2 class="courses-title">دوره ها</h2>
    <button id="add-discounts" class="btn add-discounts">
      اعمال تخفیف همگانی
    </button>
    <button id="add-course" class="btn courses-btn-add-new-course">
      اضافه کردن دوره جدید
    </button>
  </div>

  <!-- Courses List -->
  <ul class="courses-list">
    <% courses.forEach(course => { %>
      <li class="courses-item">
        <div class="courses-img-title">
          <img src="/images/courses/PWA.jpg" alt="" class="courses-img" />
          <h5 class="courses-name">
            <p>
              <%= course.title %> 
            </p>
            <% if(course.discount > 0) { %>
              - (Off <%= course.discount %>%)
            <% } %>
            <% if (course.discount > 0) { %>
              <span class="price-old">
                <%= course.price.toLocaleString() %> تومان
              </span>

              <span class="price-final">
                <%= course.finalPrice.toLocaleString() %> تومان
              </span>
            <% } else { %>
              <span class="price-final">
                <%= course.price.toLocaleString() %> تومان
              </span>
            <% } %>
          </h5>
        </div>
        <div class="courses-btns">
          <button
            class="courses-btn-edit btn"
            data-id="<%= course._id %>"
            data-title="<%= course.title %>"
            data-price="<%= course.price %>"
            data-teacher="<%= course.teacher %>"
          >
          ویرایش
         </button>
         <button
            class="courses-btn-delete btn"
            data-id="<%= course._id %>"
          >
          حذف
         </button>
        </div>
      </li>
    <% }) %>
  </ul>
  <!-- Courses List -->
</section>
